body{
    font-family: Arial, sans-serif;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/2/26/Aptiv_logo.svg/2560px-Aptiv_logo.svg.png');
    background-size: contain;
     background-position: center;
     background-repeat: no-repeat;
     padding: 1px;
   }
   
   .form-container{
    background-color: rgba(255, 255, 255, 0.9);
    padding: 25px;
    max-width: 500px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
   }
   
   h2{
    text-align: center;
    margin-bottom: 20px;
   }
   
   label{
    display: block;
    margin-top: 15px;
    font-weight: bold;
   }
   
   input,select{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
   }
   
   .checkbox-group{
    display: flex;
    gap: 10px;
    margin-top: 5px;
   }
   
   button{
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
   }
   
   button:hover{
    background-color: #5e5e5e;
   }
   
   .success-message {
     position: fixed;
     top: -60px;
     left: 50%;
     transform: translateX(-50%);
     background-color: #28a745;
     color: white;
     padding: 15px 25px;
     border-radius: 6px;
     font-size: 16px;
     font-weight: bold;
     box-shadow: 0 4px 8px rgba(0,0,0,0.2);
     opacity: 0;
     transition: all 0.6s ease;
     z-index: 9999;
   }
   .success-message.show {
     top: 20px; 
     opacity: 1;
   }